body{
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: black;
}

#nav-menu{
    /*border: 1px solid white;*/
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

#profile-photo{
    /*border: 1px solid white;*/
    display: flex;
    justify-content: left;
    align-items: center;
}

.img-div-profile-photo{
    background-color: white;
    border-radius: 100%;
    border: 5px solid white;
}


.nav-menu > a {
    /*border: 1px solid white;*/
    display: flex;
    /*margin: auto;*/
    /*align-items: center;*/
    /*flex-flow: column wrap;*/
    font-family: "Arial", serif;
    font-weight: bold;
    font-size: 85px;
    text-decoration: none;
    line-height: 120px;
    color: white;
    transition: 0.4s;
}

.nav-menu a .up, .nav-menu a .down {
    color: white;
    display: inline-block;
}

.nav-menu a .up {
    display: none;
    color: aquamarine;
}

.nav-menu a:hover .up {
    display: inline-block;
}

.nav-menu a:hover .down {
    display: none;
}

.nav-menu a .color-red{
    color: red;
}

.nav-menu > :hover{
    padding-left: 20px;
}
