body{
    background-color: black;
}

/* Для нав меню */

.header-about{
    display: flex;
    align-items: center;
    justify-content: right;
    position: fixed;
    height: 10vh;
    width: 100vw;
}


.header-about__a{
    padding-right: 250px;
    text-decoration: none;
    font-size: 17px;
    color: white;
}

.main-about{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
}

/* Для главного текста */

.main-about__big{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.big__h1{
    font-family: "Arial", sans-serif;
    font-size: 72px;
    color: white;
}

/* Для общего текста */

.main-about__general{
    display: flex;
    align-items: flex-start;
    flex-flow: column wrap;
    width: 50vw;
    height: 100vh;
}

/* Заголовок общего текста */

.about-me__begin-text h3{
    font-family: "Arial", sans-serif;
    font-size: 40px;
    color: white;
}

/* Тело общего текста */

.about-me__general-text p{
    font-family: "Arial", sans-serif;
    font-weight: lighter;
    font-size: 19px;
    line-height: 35px;
    color: white;
}