@font-face {
  font-family: 'Graphik-Semibold';
  src: url('../fonts/Graphik-Semibold.woff') format('woff');
}

body{
    background-color: black;
    height: 230vh;
    font-family: 'Graphik-Semibold', sans-serif;
}

/* Для нав меню */

.header-about{
    display: flex;
    align-items: center;
    justify-content: right;
    position: fixed;
    height: 10vh;
    width: 100vw;
}


.header-about__a{
    padding-right: 250px;
    text-decoration: none;
    font-size: 17px;
    color: white;
}

/* Общий для текста и заголовка */

.main-about{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
}

/* Для главного текста */

.main-about__big{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.big__h1{
    font-family: "Graphik-Semibold", sans-serif;
    font-size: 72px;
    color: white;
}

/* Для общего текста */

.main-about__general{
    display: flex;
    align-items: flex-start;
    flex-flow: column wrap;
    width: 45vw;
}

/* Заголовок общего текста */

.about-me__begin-text h3{
    font-family: "Graphik-Semibold", sans-serif;
    font-size: 40px;
    color: white;
}

/* Тело общего текста */

.about-me__general-text p{
    font-family: "Regu", sans-serif;
    font-weight: lighter;
    font-size: 18px;
    line-height: 170%;
    color: white;
}

.general-text__p{
    margin-top: 35px;
}

.general-skill__div{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.general-skill-out__div{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 13px;
    border: 3px solid red;
    border-radius: 50px;
    background-color: white;
}